body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  padding: 1% 32% 32% 32%;
}

.game-mode-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  button {
    font-size: xx-large;
  }
}

@media screen and (max-width: 1200px) {
  .app {
    padding: 1% 10% 10% 10%;
  }
}

.board {
  display: flex;
  flex-direction: column-reverse;
  padding: 1%;
  background-color: #edf2f4;
  border: 1px solid black;
  border-radius: 3px;
}

.board-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
  button {
    margin: 1%;
    font-size: xx-large;
  }
  border: 1px solid black;
  border-radius: 3px;
  margin: 1%;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1%;
  height: 1fr;
  margin: 0.5%;
}

.cell {
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 100%;
}

.null {
  background-color: white;
}
.A {
  background-color: #ef476f;
}
.B {
  background-color: #06d6a0;
}

.find-opponent {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
  margin: 10%;
  padding: 2%;
  width: 80%;
  button,
  input {
    font-size: xx-large;
    margin-left: 2px;
  }

  .player-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2%;
    margin: 2%;
    width: 80%;
  }

  .players {
    display: flex;
    justify-content: center;
    margin: 5%;

    button {
      font-size: xx-large;
      border-radius: 3px;
      margin: 10%;
    }

    button:hover {
      box-shadow: 3px 3px black;
    }

    .online {
      color: #06d6a0;
    }
    .busy {
      background-color: #ef476f;
    }
  }
}
