body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  padding: 10% 32% 32% 32%;
}

@media screen and (max-width: 1200px) {
  .app {
    padding: 10%;
  }
}

.board {
  display: flex;
  flex-direction: column-reverse;
  padding: 1%;
  background-color: #edf2f4;
  border: 1px solid black;
  border-radius: 3px;
}

.board-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
  button {
    margin: 1%;
    font-size: xx-large;
  }
  border: 1px solid black;
  border-radius: 3px;
  margin: 1%;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1%;
  height: 1fr;
  margin: 0.5%;
}

.cell {
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 100%;
}
